@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body {
    overflow-x: hidden;
  }
	body {
		@apply leading-[1.3] text-black tracking-wide h-[2000vh];
	}
	// text-[12px] leading-[1.3] font-light tracking-wide sm:text-[14px] md:text-[16px] lg:text-[18px]

	h2 {
		@apply text-[20px] leading-[1.2] md:text-[36px]
	};
	h3 {
		@apply text-[18px] md:text-[30px]
	};
	h4 {
		@apply text-[14px] md:text-[26px]
	};
	h6 {
		@apply text-[16px] font-light sm:text-[20px] md:text-[24px] lg:text-[28px]
	};

	.text-light {
		@apply text-[16px] font-light sm:text-[18px]
	}
	.text-small {
		@apply text-[12px] esm:text-[14px] md:text-[16px]
	}
	.text-esm { //extra small
		@apply text-grey1 text-[12px] md:text-[14px]
	}
	.text-esmLight { //extra small light
		@apply text-[12px] font-light tracking-wider md:text-[14px]
	}
	.text-tiny {
		@apply text-[10px] tracking-wider sm:text-[12px]
	}

	.text20-30 {
		@apply text-[20px] esm:text-[24px] md:text-[30px]
	}
	.text18-24 {
		@apply text-[18px] md:text-[20px] smlg:text-[24px]
	}
	.text16-24 {
		@apply text-[16px] md:text-[20px] smlg:text-[24px]
	}
	.text14 {
		@apply text-[14px]
	}

	.mt130-300 {
		@apply mt-32 esm:mt-[200px] md:mt-[300px]
	}
	.mt130-200 {
		@apply mt-32 esm:mt-36 smlg:mt-[200px]
	}
	.mt50-150 {
		@apply mt-12 md:mt-[150px]
	}

	.mainContainer {
		@apply mx-auto max-w-[1220px] px-2.5 esm:px-5 esm:max-w-[1240px] md:px-8 md:max-w-[1264px] smlg:px-12 smlg:max-w-[1298px]
	}
}